$primary-dark: #27632a;
$primary: #388e3c;
$primary-light: #5fa463;

$secondary-dark: #00a152;
$secondary: #00e676;
$secondary-light: #33eb91;

$background-dark: rgb(189, 189, 189);
$background-light: rgb(209, 209, 209);
$background-light-2: rgb(226, 226, 226);
$background-very-light: #eee;
$background-pure-white: #fff;

$text-primary: rgb(27, 27, 27);
$text-secondary: rgb(49, 49, 49);

$text-primary-dark-bg: #fff;
$text-secondary-dark-bg: rgb(219, 219, 219);

// --------------------------------------------

$body-background: $background-light;
$body-background: #f1f1f1;
$card-background: $background-pure-white;

// --------------------------------------------

.w3-row {
    display: flex;
}

.w3-container {
    flex:1;
}

.w3-button{
    border-radius: 5px;
}

/* width */
*::-webkit-scrollbar {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.123);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: $primary-light; 
    border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: $primary-dark; 
}

*::-moz-selection { /* Code for Firefox */
    color: $text-primary-dark-bg;
    background: $primary-light;
}

*::selection {
    color: $text-primary-dark-bg;
    background: $primary-light;
}

// --------------------------------------------

.box-shadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

@keyframes loading{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

.loading-bar{
    height: 10px;
    width: 100%;
    background: $background-light-2;
    overflow: hidden;
}

.loading-bar.big{
    height: 20px;
}

.loading-bar.short{
    width: 50%;
}

.loading-bar .loading-block{
    height: 100%;
    width: 30%;
    position: relative;
    left: 0%;
    background: linear-gradient(to right, transparent, $background-very-light, transparent);
    animation: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

*{
    outline: none;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    overflow: hidden;
}

body{
    background-color: $body-background;
}

#body-row{
    margin-top: 56px;
    height: calc(100% - 56px);
}

header{
    background-color: $primary !important;
    z-index: 100;
    box-shadow: 0px 1px 10px black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

header .logo{
    text-align: center;
    font-size: 20px;
    color: $text-primary-dark-bg;
    padding: 10px;
}

header .middle-section{
    padding: 10px;
}

header .middle-section .search-input{
    width: 90%;
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.18);
    color: $text-primary-dark-bg;
    border: 2px solid transparent;
}

header .middle-section .search-input:focus{
    border-color: $primary-light;
}

header .right-section{
    padding: 10px;
}

header .right-section .action{
    color: $text-primary-dark-bg;
    font-size: 1.2em;
    padding: 10px;
}

header .right-section .action:hover{
    background-color: $primary-dark;
    cursor: pointer;
}

#sidenav{
    // @extend .box-shadow;
    // background-color: $background-dark;
}

#sidenav li{
    border: 0px;
    font-size: 1.1em;
    transition-duration: .3s;
    padding-left: 20px;
}

#sidenav li:hover,#sidenav li:focus, #sidenav li.active{
    background-color: $background-light-2;
    cursor: pointer;
    font-size: 1.1em;
    color: $primary-dark;
}

#sidenav li i{
    font-size: 1.5em !important;
    position: relative;
    top: 7px;
    margin-right: 10px;
}

#page{
    padding: 10px;
    overflow: auto;
}

.w3-card{
    background-color: $card-background;
    // border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.315);
}

.w3-card.simple{
    padding: 20px 15px;
}

.w3-card .header{
    font-size: 1.2em;
    padding: 10px 15px;
    background-color: $primary;
    color: $text-primary-dark-bg;
}

.w3-card .body{
    padding: 20px 15px;
}

.w3-card .footer{
    padding: 10px 15px;
}

.w3-card .footer .w3-button{
    background: $background-light;
}